
/* HeaderWrap */
.landing {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #00a8ff;
	margin-top: -2.5em;
	padding-top: 25em;
	background-attachment: relative;
	background-position: center center;
	min-height: 60em;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-grey {
      background-color: #f6f6f6;
  }
.socialMediaIcon{
    margin: 1em;
}
