html{
    height: 100%;
}
h1{
    font-size: 4em;
}
.modal-title{
    color: #A5ACAF;
}
/* HeaderWrap */
.landing {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #00a8ff;
	color: #f6f6f6;
	padding-top: 16em;
	background-attachment: relative;
	background-position: center center;
	min-height: 60em;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-grey {
      background-color: #69BE28;
  }
.socialMediaIcon{
    margin: 1em;
}

.landingText{
    font-size: 1.8em;
    line-height: 1.8em;
}


.featureImage{
max-width: 80%;

}

#features{
    max-height: 300em;
    background-color: #002244;
   

}
#features h1, h4{

    color: #f6f6f6;

}
#socialMedia h1{
    color: #f6f6f6;
}
#socialMedia{
    margin-bottom: 10em;
    padding-top: 10em;

}

#about{
    margin-bottom: 5em;
    margin-top: 5em;
}
#team{
    
   
}

.bg-social{
    background-color: #33bbff;
}

#team h1{
    color: #f6f6f6;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    margin-top: .1em;
    margin-bottom: .1em;
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}


/************************
    Media Query
*************************/


@media (max-width: 600px) {

h1{
    font-size: 3em;
}

.landingText{
    font-size: 1.2em;
    line-height: 1.8em;
}

.landingImg{
    display: none;
}

}

