
/* HeaderWrap */
.landing {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #00a8ff;
	margin-top: -2.5em;
	padding-top: 25em;
	background-attachment: relative;
	background-position: center center;
	min-height: 60em;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-grey {
      background-color: #f6f6f6;
  }
.socialMediaIcon{
    margin: 1em;
}

.landingText{
    font-size: 1.5em;
    line-height: 1.5em;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    margin-top: .1em;
    margin-bottom: .1em;
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

